@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/sand-dark-alpha.css";

@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";

@layer base {
  :root {
    --aho-color-grey-1: var(--sand-1);
    --aho-color-grey-2: var(--sand-2);
    --aho-color-grey-3: var(--sand-3);
    --aho-color-grey-4: var(--sand-4);
    --aho-color-grey-5: var(--sand-5);
    --aho-color-grey-6: var(--sand-6);
    --aho-color-grey-7: var(--sand-7);
    --aho-color-grey-8: var(--sand-8);
    --aho-color-grey-9: var(--sand-9);
    --aho-color-grey-10: var(--sand-10);
    --aho-color-grey-11: var(--sand-11);
    --aho-color-grey-12: var(--sand-12);

    --aho-color-grey-a1: var(--sand-a1);
    --aho-color-grey-a2: var(--sand-a2);
    --aho-color-grey-a3: var(--sand-a3);
    --aho-color-grey-a4: var(--sand-a4);
    --aho-color-grey-a5: var(--sand-a5);
    --aho-color-grey-a6: var(--sand-a6);
    --aho-color-grey-a7: var(--sand-a7);
    --aho-color-grey-a8: var(--sand-a8);
    --aho-color-grey-a9: var(--sand-a9);
    --aho-color-grey-a10: var(--sand-a10);
    --aho-color-grey-a11: var(--sand-a11);
    --aho-color-grey-a12: var(--sand-a12);

    --aho-color-orange-1: var(--orange-1);
    --aho-color-orange-2: var(--orange-2);
    --aho-color-orange-3: var(--orange-3);
    --aho-color-orange-4: var(--orange-4);
    --aho-color-orange-5: var(--orange-5);
    --aho-color-orange-6: var(--orange-6);
    --aho-color-orange-7: var(--orange-7);
    --aho-color-orange-8: var(--orange-8);
    --aho-color-orange-9: var(--orange-9);
    --aho-color-orange-10: var(--orange-10);
    --aho-color-orange-11: var(--orange-11);
    --aho-color-orange-12: var(--orange-12);

    --aho-color-orange-a1: var(--orange-a1);
    --aho-color-orange-a2: var(--orange-a2);
    --aho-color-orange-a3: var(--orange-a3);
    --aho-color-orange-a4: var(--orange-a4);
    --aho-color-orange-a5: var(--orange-a5);
    --aho-color-orange-a6: var(--orange-a6);
    --aho-color-orange-a7: var(--orange-a7);
    --aho-color-orange-a8: var(--orange-a8);
    --aho-color-orange-a9: var(--orange-a9);
    --aho-color-orange-a10: var(--orange-a10);
    --aho-color-orange-a11: var(--orange-a11);
    --aho-color-orange-a12: var(--orange-a12);
  }

  :where(html) {
    :where([aho-accent-color="grey"]) {
      --aho-color-accent-1: var(--aho-color-grey-1);
      --aho-color-accent-2: var(--aho-color-grey-2);
      --aho-color-accent-3: var(--aho-color-grey-3);
      --aho-color-accent-4: var(--aho-color-grey-4);
      --aho-color-accent-5: var(--aho-color-grey-5);
      --aho-color-accent-6: var(--aho-color-grey-6);
      --aho-color-accent-7: var(--aho-color-grey-7);
      --aho-color-accent-8: var(--aho-color-grey-8);
      --aho-color-accent-9: var(--aho-color-grey-9);
      --aho-color-accent-10: var(--aho-color-grey-10);
      --aho-color-accent-11: var(--aho-color-grey-11);
      --aho-color-accent-12: var(--aho-color-grey-12);

      --aho-color-accent-a1: var(--aho-color-grey-a1);
      --aho-color-accent-a2: var(--aho-color-grey-a2);
      --aho-color-accent-a3: var(--aho-color-grey-a3);
      --aho-color-accent-a4: var(--aho-color-grey-a4);
      --aho-color-accent-a5: var(--aho-color-grey-a5);
      --aho-color-accent-a6: var(--aho-color-grey-a6);
      --aho-color-accent-a7: var(--aho-color-grey-a7);
      --aho-color-accent-a8: var(--aho-color-grey-a8);
      --aho-color-accent-a9: var(--aho-color-grey-a9);
      --aho-color-accent-a10: var(--aho-color-grey-a10);
      --aho-color-accent-a11: var(--aho-color-grey-a11);
      --aho-color-accent-a12: var(--aho-color-grey-a12);
    }
  }

  :where(html) {
    :where([aho-accent-color="orange"]) {
      --aho-color-accent-1: var(--aho-color-orange-1);
      --aho-color-accent-2: var(--aho-color-orange-2);
      --aho-color-accent-3: var(--aho-color-orange-3);
      --aho-color-accent-4: var(--aho-color-orange-4);
      --aho-color-accent-5: var(--aho-color-orange-5);
      --aho-color-accent-6: var(--aho-color-orange-6);
      --aho-color-accent-7: var(--aho-color-orange-7);
      --aho-color-accent-8: var(--aho-color-orange-8);
      --aho-color-accent-9: var(--aho-color-orange-9);
      --aho-color-accent-10: var(--aho-color-orange-10);
      --aho-color-accent-11: var(--aho-color-orange-11);
      --aho-color-accent-12: var(--aho-color-orange-12);

      --aho-color-accent-a1: var(--aho-color-orange-a1);
      --aho-color-accent-a2: var(--aho-color-orange-a2);
      --aho-color-accent-a3: var(--aho-color-orange-a3);
      --aho-color-accent-a4: var(--aho-color-orange-a4);
      --aho-color-accent-a5: var(--aho-color-orange-a5);
      --aho-color-accent-a6: var(--aho-color-orange-a6);
      --aho-color-accent-a7: var(--aho-color-orange-a7);
      --aho-color-accent-a8: var(--aho-color-orange-a8);
      --aho-color-accent-a9: var(--aho-color-orange-a9);
      --aho-color-accent-a10: var(--aho-color-orange-a10);
      --aho-color-accent-a11: var(--aho-color-orange-a11);
      --aho-color-accent-a12: var(--aho-color-orange-a12);
    }
  }
}
