@import "../css/index.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --aho-font-family-sans: var(--font-geist-sans);
  --aho-font-family-serif: var(--font-geist-mono);
  --aho-font-family-mono: var(--font-geist-mono);

  background-color: var(--aho-color-grey-1);
}
