.home-laser-vertical {
  display: grid;
  grid-template-rows:
    var(--grid-row-1)
    1px
    var(--grid-row-2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-laser-horizontal {
  display: grid;
  grid-template-columns: var(--grid-column-1) 1px var(--grid-column-2) 1px var(
      --grid-column-3
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-laser {
  --laser-size: 15%;
  --laser-duration: 7s;

  background-color: var(--aho-color-grey-4);
  position: relative;
}

.home-laser::after {
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  content: "";
  position: absolute;
}

.home-top-laser::after {
  height: 1px;
  will-change: left;
  width: var(--laser-size);
}

.home-left-laser::after {
  height: var(--laser-size);
  will-change: top;
  width: 1px;
}

.home-left-laser::after {
  animation-name: laser-left;
  animation-duration: var(--laser-duration);
  background: linear-gradient(to top, var(--aho-color-orange-9), transparent);
  left: 0px;
  top: 0;
  will-change: top;
}

@keyframes laser-left {
  0% {
    top: calc(-1 * var(--laser-size));
  }
  66% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}
